{% extends "layout.html" %}

{% block title %}
    Currented
{% endblock %}

{% block main %}

    <h2><span class="fw-light fst-italic fs-4">From</span> {{data["from_name"]}} <span class="fw-light fst-italic fs-4">To</span> {{data["to_name"]}}</h2>

    <main class="container py-5 text-center">

        <table class="table table-hover">

            <thead class="table-dark">
                <tr>
                    <th class="text-center">From Currency Name</th>
                    <th class="text-center">To Currency Name</th>
                    <th class="text-center">Exchange Rate</th>
                    <th class="text-center">Last Updated/Time Zone</th>
                    
                </tr>
            </thead>

            <tbody>
                <tr class="table-success">
                    <td class="text-center">{{data["from_name"]}}</td>
                    <td class="text-center">{{data["to_name"]}}</td>
                    <td class="text-center">{{data["exchange_rate"]}}</td>
                    <td class="text-center">{{data["last_refreshed"]}}/{{data["time_zone"]}}</td>
                    
                </tr>
            </tbody>

        </table>

    </main>


{% endblock %}
